/* footer */
.main-footer{
	background-color: $third-background-color;
	padding: 14px 0;
	color: $third-font-color;
	margin:20px 0 0;
	
	nav{
		ul{
			list-style: none;
			margin: 0;
			
			li{
				float: left;
				margin: 0 19px 0 0;
				
				a{
					text-decoration: none;
					color: $third-font-color;
					
					&:hover{
						color: $secondary-font-color;
					}
				}
			}
		}
	}
}