<head>	
	<title><% siteData.forEach( function ( site ) { %><%= site.title %><% }) %></title>
	<meta charset="UTF-8" />
	<meta http-equiv="content-style-type" content="text/css" />
   
    <link rel="stylesheet" href="css/main.css" type="text/css">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"> </script>
	<script type="text/javascript" src="scripts/slider.js"> </script>
</head>