/* CSS Document */
$primary-background-color: #fff;
$secondary-background-color: #efefef;
$third-background-color: #000000;
$component-color: #e7ba2f;
$button-color: #333333;

$container: 1400px;
$container-wrap: 1080px;

$primary-font: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", 'メイリオ', Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
$font-size: 13px;
$font-height: 16px;
$font-spacing: -1px;
$primary-font-color: #000;
$secondary-font-color: #e7ba2f;
$third-font-color: #fff;
$forth-font-color: #999999;

$thumbnail-size: 206px;
$thumbnail-small-size: 112px;